@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
  width: 390px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.collapse:not(.collapse-close)> :where(input[type="checkbox"]:checked ~ .collapse-content) {
  padding-bottom: 0;
}

.collapse-arrow>.collapse-title:after {
  left: 0.5rem;
}